.custom-link {
  text-decoration: none; 
  color: inherit;
}

.custom-select {
  width: unset;
}

.navbar-nav a{
  text-decoration: none;
  color: #ccc;
}

.card-text p {
  padding: 10px;
}

.card-text p:nth-child(odd) {
  background-color: #f8f9fa;
}

.card-text p:nth-child(even) {
  background-color: #e9ecef; 
}

.noData {
  font-size: 20px;
  font-weight: 700;
  color: #4b4a4a;
  text-align: center;
}

.error {
  margin-top: 10px;
  color: rgb(223, 59, 59);
} 


/* EmployeeTable */

.table-container {
  max-height: 350px;
  overflow: scroll;
}

.table {
  width: 100%;
  max-width: 1200px;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.table thead {
  position: sticky;
  top: 0;
}
.table thead th{
  background: #2B3035;
  color: #fff;
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: left;
}

.table th {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.table tbody tr {
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.3s;
  cursor: pointer;
}

.table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.table tbody tr:hover {
  background-color: rgba(63, 81, 181, 0.1);
}

.table tbody tr td {
  font-size: 14px;
  color: #4b4a4a;
}

.table tbody tr td:first-child {
  font-weight: 700;
}

/* NotFound*/
.notFoundContainer {
  background-color: #306EAF;
}