.formContainer {
  background-color: #f5f5f5;
  padding-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  max-width: 1200px;
  width: 100%;
  margin-bottom: 50px;
}

.employeeForm {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  border: none;
}

.formLegend {
  font-size: 25px;
  font-weight: 700;
  color: grey;
  padding: 10px;
}

.formGroup {
  position: relative;
}

.formGroup input,
.formGroup select {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 16px;
  color: grey;
  box-sizing: border-box;
}

.formGroup input[data-error] {
  border-color: red;
}

.formGroup input[data-error]::after {
  content: attr(data-error);
  color: red;
  display: block;
  font-size: 0.8em;
}

.formGroup input:focus,
.formGroup select:focus {
  border-color: #3f51b5;
  box-shadow: 0 0 0 2px rgba(63, 81, 181, 0.2);
  outline: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #3f51b5;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 20px;
  font-weight: 700;
}

button:hover {
  background-color: #303f9f;
}

.generalError {
  height: 15%;
  background-color: rgb(223, 59, 59);
  padding: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.displayNone {
  display: none;
}

.error {
  margin-top: 10px;
  color: rgb(223, 59, 59);
}

/* @media (max-width: 600px) {
  #employeeForm {
    grid-template-columns: 1fr;
  }
} */
